* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #151d12;
    color: white;
    font-family: 'Arima Madurai', cursive;
    font-size: 16px;
}

/*-------------------------------------------*/
/* #main_container */

#main_container {
    /*border: 1px solid cyan;*/
    margin: 0 auto;
    /*width: 1276px;*/
    /*height: 950px;*/
    font-size: 1.2em;
}

/*-------------------------------------------*/
/* #header_container */

#header_container {
    /*border: 1px solid hotpink;*/
    height: 20%;
}

#header_container > h1 {
    background-color: #bf4b19;
    color: #151d12;
    margin-top: 0.5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header_container > p {
    margin: 0.5% 1% 0 1%;
    font-size: 1.1em;
}

#header_container > p:first-letter {
    font-size: 1.3em;
}

/*-------------------------------------------*/
/* #info_container */

#info_container {
    /*border: 1px solid yellow;*/
    height: 20%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

/*----------------*/
/* #info_moves */

#info_moves {
    border: 2px inset #651111;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 2em;
}

/*----------------*/
/* #info_score */

#info_score {
    border-top: 2px inset #741313;
    border-bottom: 2px inset #741313;
    border-right: 2px inset #741313;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 2em;
}

.score_text {
    /**/
}

.score_result {
    /**/
}

/*----------------*/
/* #info_time */

#info_time {
    border-top: 2px inset #831515;
    border-bottom: 2px inset #831515;
    border-right: 2px inset #741313;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 2em;
}

/*----------------*/
/* #info_buttons */

#info_buttons {
    border-top: 2px inset #911818;
    border-bottom: 2px inset #911818;
    border-right: 2px inset #911818;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.buttons_newGame {
    background-color: #96860f;
    color: white;
    width: 75%;
    height: 20%;
    -webkit-box-shadow: 2px 3px 5px 0px rgba(153, 190, 193, 1);
    -moz-box-shadow: 2px 3px 5px 0px rgba(153, 190, 193, 1);
    box-shadow: 2px 3px 5px 0px rgba(153, 190, 193, 1);
    margin-bottom: 7%;
    font-size: 1.1em;
    letter-spacing: 3px;
    transition: all 400ms;
}

.buttons_newGame:hover {
    background-color: #c4af14;
}

.buttons_endGame {
    background-color: #96860f;
    color: white;
    width: 75%;
    height: 20%;
    -webkit-box-shadow: 2px 3px 5px 0px rgba(153, 190, 193, 1);
    -moz-box-shadow: 2px 3px 5px 0px rgba(153, 190, 193, 1);
    box-shadow: 2px 3px 5px 0px rgba(153, 190, 193, 1);
    font-size: 1.1em;
    letter-spacing: 3px;
    transition: all 400ms;
}

.buttons_endGame:hover {
    background-color: #c4af14;
}

/*-------------------------------------------*/
/* #game_container */

#game_container {
    background-color: #43434a;
    border: 3px double black;
    height: 53%;
    margin-top: 1%;
    margin-bottom: 1%;
    display: grid;
    grid-template-rows: 1fr 6fr 1fr;
    padding: 0 10.5% 0 10.5%;
    position: relative;
}

/*----------------*/
/* #game_valve */

#game_valve {
    /*border: 1px solid cyan;*/
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

.valveBg_img {
    max-width: 100%;
    max-height: 100%;
    margin-left: 3.3%;
    position: absolute;
}

.valve_img {
    max-width: 100%;
    max-height: 100%;
    margin-left: 3.3%;
    position: absolute;
    transition: all 1000ms ease-out;
}

.valve_p {
    margin-left: 17.5%;
    font-size: 1.5em;
    letter-spacing: 3px;
}

.valve_p_level {
    color: coral;
}

.rotate_valve {
    transform: rotate(360deg);
}

/*----------------*/
/* #game_pipe */

#game_pipe {
    /*border: 1px solid lightsalmon;*/
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.pipe_img {
    max-width: 100%;
    max-height: 100%;
    margin-right: 3.3%;
}

/*----------------*/
/* #game_boxes */

#game_boxes {
    border: 2px double #212730;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.boxes_box {
    border: 1px solid #4c4d52;
    background-color: #646464;
    width: 125px;
    height: 125px;
}

.boxes_box_img {
    transition-property: all;
    transition-duration: 300ms;
    transition-timing-function: linear;
    transform: rotate(0deg);
}

.boxes_box > img {
    max-height: 100%;
    max-width: 100%;
}

.rotate_box {
    transform: rotate(90deg);
}

/*----------------*/
/* #game_menu */

#game_menu {
    background-color: rgb(128, 128, 128, 0.5);
    width: 100%;
    height: 100%;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    position: absolute;
}

#menu_window {
    background-color: #50624e;
    border-radius: 50px;
    width: 62.5%;
    height: 62.5%;
    font-size: 1.2em;
    text-align: center;

}

/* .window_win */
.window_win {
    height: 100%;
    width: 100%;
    /*display: none;*/
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.win_level {
    color: coral;
}

.win_results {
    width: 62.5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "tm tm tm"
    "mv mv mv"
    "pip pip pip"
    "ptt ptt pt";
    padding-top: 1%;
}

.results_all_points {
    color: gold;
}

.win_button {
    background: #686868;
    border-style: none;
    border-top: 2px solid darkgrey ;
    border-left: 2px solid darkgrey ;
    width: 25%;
    height: 10%;
    font-size: 0.8em;
    transition: all 300ms;
    cursor: pointer;
    margin-top: 1%;
}

.win_button:hover {
    background: #797979;
}

.win_button > a {
    text-decoration: none;
    color: #2c301a;
    display: block;
}


/* .window_lose */
.window_lose {
    height: 100%;
    width: 100%;
    /*display: none;*/
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.lose_score {
    font-size: 1.3em;
    color: coral;
    padding: 2% 0 2% 0;
}

.lose_button {
    background: #686868;
    border-style: none;
    border-top: 2px solid darkgrey ;
    border-left: 2px solid darkgrey ;
    width: 25%;
    height: 10%;
    font-size: 0.8em;
    transition: all 300ms;
    text-decoration: none;
    cursor: pointer;
}

.lose_button:hover {
    background: #797979;
}

.lose_button > a {
    text-decoration: none;
    color: #2c301a;
    display: block;
}

/* .window_end */
.window_end {
    height: 100%;
    width: 100%;
    /*display: none;*/
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.window_end > h3 {
    color: goldenrod;
}

.end_score {
    font-size: 1.3em;
    color: coral;
    padding: 2% 0 2% 0;
}

.end_button {
    background: #686868;
    border-style: none;
    border-top: 2px solid darkgrey ;
    border-left: 2px solid darkgrey ;
    width: 25%;
    height: 10%;
    font-size: 0.8em;
    transition: all 300ms;
    text-decoration: none;
    cursor: pointer;
}

.end_button:hover {
    background: #797979;
}

.end_button > a {
    text-decoration: none;
    color: #2c301a;
    display: block;
}

/* display: flex/none */
.display_flex {
    display: flex;
}

.display_none {
    display: none;
}


/*-------------------------------------------*/
/* footer */

#footer_end {
    /*border: 1px solid greenyellow;*/
    height: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1%;
}

/*-------------------------------------------*/
/* media queries */

/*##Device = Desktops
  ##Screen = 1281px to higher resolution desktops */
@media (min-width: 1281px) {
    #main_container {
        width: 1276px;
        height: 1200px;
        font-size: 1.2em;
    }

    /* Styles */
}

/*##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px */
@media (min-width: 1025px) and (max-width: 1280px) {
    #main_container {
        width: 1020px;
        height: 852px;
        font-size: 0.9em;
    }

    #game_container {
        height: 59.5%;
    }

    .boxes_box {
        width: 100px;
        height: 100px;
    }

    /* Styles */
}

/*##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px */
@media (min-width: 768px) and (max-width: 1024px) {
    #main_container {
        width: 763px;
        height: 852px;
        font-size: 0.819em;
    }

    #game_container {
        height: 45.5%;
    }

    .boxes_box {
        width: 75px;
        height: 75px;
    }

    /* Styles */
}

/*##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    #main_container {
        width: 763px;
        height: 852px;
        font-size: 0.819em;
    }

    #game_container {
        height: 45.5%;
    }

    .boxes_box {
        width: 75px;
        height: 75px;
    }

    /* Styles */
}

/*##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px */
@media (min-width: 481px) and (max-width: 767px) {
    #main_container {
        width: 476px;
        height: 852px;
        font-size: 0.7em;
    }

    #game_container {
        height: 28.5%;
        font-size: 0.7em;
    }

    .boxes_box {
        width: 45px;
        height: 45px;
    }

    .buttons_newGame {
        letter-spacing: 2px;
    }

    .buttons_endGame {
        letter-spacing: 2px;
    }

    /* Styles */
}

/*##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px */
@media (min-width: 320px) and (max-width: 480px) {
    #main_container {
        width: 95%;
        height: 852px;
        font-size: 0.6em;
    }

    #game_container {
        height: 21%;
        font-size: 0.6em;
    }

    #game_valve > img {
        /*width: 30px;
        margin-left: 7.5%;*/
        width: 6.5%;
        margin-right: 4%;

    }

    #game_valve > p {
        /*padding-left: 7.5%;*/
    }

    #game_pipe > img {
        /*width: 30px;
        margin-right: 7%;*/
        width: 6%;
        margin-right: 4%;
    }

    .boxes_box {
        width: 33px;
        height: 33px;
    }

    #info_buttons {
        font-size: 0.9em;
    }

    .buttons_newGame {
        letter-spacing: 1px;
    }

    .buttons_endGame {
        letter-spacing: 1px;
    }

    /* Styles */
}